name: .NET build

on:
  push:
    branches: [ master, release ]
  pull_request:
    branches: [ master, release ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build LeagueToolkit --configuration Release --no-restore
    - name: Test
      run: dotnet test LeagueToolkit.Tests --no-restore --verbosity normal
    - name: Publish NuGet
      if: startsWith(github.ref, 'refs/heads/release')
      id: publish_nuget
      uses: rohith/publish-nuget@v2
      with:
        PROJECT_FILE_PATH: LeagueToolkit/LeagueToolkit.csproj
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
